# Created by .ignore support plugin (hsz.mobi)
*.iml
/demo-helper-view-demo/src/main/webapp/VAADIN/themes/demo/styles.scss.cache
/demo-helper-view-demo/src/main/webapp/VAADIN/themes/demo/styles.css
/.designer/
/.idea/
/demo-helper-addon/target/
/demo-helper-view-demo/target/
*.scssc
/src/main/resources/META-INF/resources/frontend/com/github/appreciated/demo-helper/demo-helper.css.map
/node_modules/@vaadin/flow-frontend/
/target/
