:root {
  --demo-helper-view-background-color: var(--lumo-base-color);
  --demo-helper-view-device-background-color: #{#171717};
  --demo-helper-view-background-text-color: var(--lumo-font-color);
  --demo-helper-view-accent-color: var(--lumo-primary-color);
  --demo-helper-view-background-accent-contrast-color: var(--lumo-primary-contrast-color);
  --demo-helper-view-border-radius: #{3px};
}

h1, h2, h3 {
  font-weight: 300;
}

.onload-animated {
  animation: animationFrames ease 0.7s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

@keyframes animationFrames {
  0% {
    opacity: 0;
    transform: scaleX(0.90) scaleY(0.90);
  }
  100% {
    opacity: 1.00;
    transform: scaleX(1.00) scaleY(1.00);
  }
}

.step-content-holder {
  color: var(--demo-helper-view-accent-color) !important;
  line-height: 50px !important;
  font-size: 18px !important;
  text-transform: uppercase;
  font-weight: 400 !important;
  margin-top: 4px;
}

.v-slot-code-type-label {
  .code-type-label {
    color: var(--demo-helper-view-accent-color);
    text-transform: uppercase;
  }
}

.code-example-text-area {
  font-family: monospace !important;
  background: var(--demo-helper-view-background-color) !important;
  box-shadow: var(--lumo-box-shadow-s) !important;
  border: none !important;
  border-radius: var(--demo-helper-view-border-radius);
}

.step-number {
  background: var(--demo-helper-view-accent-color);
  color: var(--demo-helper-view-background-accent-contrast-color) !important;
  border-radius: 100%;
  text-align: center;
  line-height: 55px !important;
  box-shadow: var(--lumo-box-shadow-m);
}