.demo-helper .step-content-holder {
  line-height: 50px;
}

.demo-helper .step-number {
  background: #197de1;
  color: #c8dbed;
  border-radius: 100%;
  text-align: center;
  line-height: 50px;
}

.demo-helper .device-wrapper {
  display: flex !important;
  justify-content: space-evenly !important;
  flex-flow: row wrap;
}

.demo-helper .device-wrapper > * {
  margin: 30px;
  align-self: flex-end;
}

.demo-helper .handheld-view {
  width: 15vw !important;
  height: 30vw !important;
  max-width: 261px;
  max-height: 523px;
  min-width: 200px;
  min-height: 400px;
  padding: 50px 10px 54px 10px !important;
  border: 2px solid lightgray;
  border-radius: 20px;
  background: #272727;
  position: relative;
  box-shadow: 0 40px 60px -20px rgba(0, 0, 0, 0.6);
}

.demo-helper .handheld-view > .v-panel-content {
  background: #303030;
}

.demo-helper .handheld-view:after {
  position: absolute;
  content: "";
  border: 1px solid #424242;
  border-radius: 100%;
  width: 3vw;
  height: 3vw;
  max-width: 40px !important;
  max-height: 40px !important;
  bottom: 6px;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: auto;
}

.demo-helper .tablet-view {
  width: 63vw !important;
  height: 45vw !important;
  max-width: 1100px;
  max-height: 785px;
  min-width: 840px;
  min-height: 600px;
  padding: 20px 70px 20px 70px !important;
  border: 3px solid lightgray;
  border-radius: 20px;
  background: #272727;
  position: relative;
  box-shadow: 0 40px 100px -30px rgba(0, 0, 0, 0.9);
}

.demo-helper .tablet-view > .v-panel-content {
  background: #303030;
}

.demo-helper .tablet-view:after {
  position: absolute;
  content: "";
  border: 1px solid #424242;
  border-radius: 100%;
  width: 3vw;
  height: 3vw;
  max-width: 45px !important;
  max-height: 45px !important;
  right: 10px;
  top: 50%;
  transform: translate(0%, 0%);
  margin: auto;
}

.demo-helper .content-wrapper {
  max-width: 1600px;
}

.demo-helper .content-wrapper-small {
  max-width: 1260px;
}