<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;demo-helper&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout spacing="false" margin="false">
   <vaadin-text-area word-wrap="false" rows="0" style-name="code-example-text-area" width-full readonly _id="stepCode">
     &lt;dependency&gt; &lt;groupId&gt;com.github.appreciated&lt;/groupId&gt; &lt;artifactId&gt;demo-helper&lt;/artifactId&gt; &lt;version&gt;${project.version}&lt;/version&gt; &lt;/dependency&gt; 
   </vaadin-text-area>
   <vaadin-label style-name="code-type-label" plain-text _id="codeTypeLabel" :middle :right>
     Label 
   </vaadin-label>
  </vaadin-vertical-layout>
 </body>
</html>