<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;demo-helper&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout margin-left="false" margin-right="false">
   <vaadin-horizontal-layout spacing="false" size-full margin-top margin-bottom :middle :center :expand>
    <vaadin-vertical-layout style-name="content-wrapper-small" margin-top="false" _id="contentHolder" :center :expand>
     <vaadin-horizontal-layout width-full :center>
      <vaadin-vertical-layout margin="false" :expand>
       <vaadin-horizontal-layout width-full margin-bottom>
        <vaadin-label style-name="h1 no-margin" width-full plain-text _id="headerLabel" :expand>
          Some Header 
        </vaadin-label>
       </vaadin-horizontal-layout>
       <vaadin-label style-name="h3 no-margin" width-full plain-text _id="descriptionLabel">
         Some Describtion sdfgsdfg sdfgsd fgsdfg sdfg 
       </vaadin-label>
      </vaadin-vertical-layout>
      <vaadin-horizontal-layout width-full :expand>
       <vaadin-image _id="image" :expand></vaadin-image>
      </vaadin-horizontal-layout>
     </vaadin-horizontal-layout>
    </vaadin-vertical-layout>
   </vaadin-horizontal-layout>
  </vaadin-vertical-layout>
 </body>
</html>