<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;demo-helper&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout margin="false">
   <vaadin-horizontal-layout spacing="false" size-full :middle :center :expand>
    <vaadin-vertical-layout style-name="content-wrapper" margin="false" _id="contentHolder" :center :expand>
     <vaadin-horizontal-layout width-full margin-top>
      <vaadin-label style-name="h1" plain-text _id="headerLabel" :middle>
        Addon 
      </vaadin-label>
      <vaadin-link caption="visit me on Github" style-name="large" _id="url" :middle :right></vaadin-link>
     </vaadin-horizontal-layout>
    </vaadin-vertical-layout>
   </vaadin-horizontal-layout>
  </vaadin-vertical-layout>
 </body>
</html>